<li class="list-item" data-id="{{id}}">
    <div class="card">
        <img class="film-img" src="https://image.tmdb.org/t/p/w300{{poster_path}}" alt="{{title}}">
        <h3 class="film-title">{{title}}</h3>
        <div class="description">
            <p class="description-title">{{formattedGeners}}</p>
            <p class="strip description-title">|</p>
            <p class="description-title">{{yearRelease}}</p>
        </div>
    </div>
</li>